

/*
White: #F4F4ED
Green: #28A745
Dark Green: #093824
light grey: #8B8BAE
dark grey: #374B4A
charcoal: #061826 
*/




/* styles.css */
[data-testid="stSidebar"] {
    width: 1000px;
    background-color: #F4F4ED !important;
}

/* Change global font color */
html, body, [class*="st-"] {
    color: #000000; /* black */
}

/* Customize headers */
h1, h2, h3, h4 {
    color: #1565c0; /* blue */
}

/* Remove border and shadow around expanders */
[data-testid="stExpander"] details {
    border: none;
    box-shadow: none;
    background-color: #e7e7f0 !important;
}

/* Replace default arrow with + / - */
[data-testid="stExpander"] summary::marker {
    content: "+ ";
    font-weight: bold;
    color: #333;
}

/* When expanded, show - instead of + */
[data-testid="stExpander"][open] summary::marker {
    content: "- ";
}

div[data-testid="stExpander"] details summary p{
    font-size: 1rem;
}

[data-testid="stSidebar"][aria-expanded="true"] details {
    height: 50% !important;
  }

 [data-testid="stSidebar"][aria-expanded="false"]{
    height: 50% !important;
 }