packages:
  yum:
    epel-release: []
    certbot: []
    python3-certbot-nginx: []

commands:
  01_install_cert:
    command: |
      if [ ! -f /etc/letsencrypt/live/seewatersedge.com/fullchain.pem ]; then
        certbot --nginx --non-interactive --agree-tos --redirect \
          --email see_waters@comcast.net \
          -d seewatersedge.com -d www.seewatersedge.com
      fi

  02_auto_renew:
    command: |
      echo "0 0 * * * root certbot renew --quiet --post-hook 'systemctl reload nginx'" > /etc/cron.d/certbot-renew
